* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    color: #1E1A48;
    scroll-behavior: smooth;
}

body {
    font-family: 'Gowun Dodum';
}

.container {
    width: 75%;
    margin: 0 auto;
}

header nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

header nav .resume-blok {
    display: flex;
    align-items: center;
}

header nav .resume-blok a {
    text-decoration: none;
    font-weight: bold;
}

header nav .resume-blok a:hover {
    text-decoration: underline;
}

.title {
    margin-bottom: 20px;
}

.title span {
    text-transform: UPPERCASE;
    font-weight: 100;
    font-size: 1.8em;
}

/* Banner */
.banner {
    padding-top: 10px;
}
.banner .banner-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner .banner-wrapper .greeting {
    width: 50%;
    margin-top: -50px;
}

.banner .banner-wrapper .greeting .mask-pict {
    display: none;
}

.banner .banner-wrapper .greeting .greet h1 {
    font-size: 2.2rem;
}

.banner .banner-wrapper .greeting .greet span {
    color: #1E1A48;
}

.banner .banner-wrapper .greeting .desc-greet {
    margin-top: 10px;
}

.banner .banner-wrapper .greeting .desc-greet p {
    font-size: 1.1rem;
}

.banner .banner-wrapper .greeting .banner-button-contact {
    margin-top: 25px;
}

.banner .banner-wrapper .greeting .banner-button-contact a {
    text-decoration: none;
    border: 1px solid #1E1A48;
    padding: 5px 10px;
    border-radius: 6px;
    font-weight: bold;
    transition: .2s ease-in-out;
}

.banner .banner-wrapper .greeting .banner-button-contact a:hover {
    background-color: #1E1A48;
    color: #fff;
}

/* Img Banner */
.banner .container .image-self {
    width: 50%;
}

.banner .container .image-self .box-image-self {
    background-image: url('img/bg-port-p.png');
    background-position: calc(20px);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

.banner .container .image-self .box-image-self img {
    width: 58%;
}


/* section.skills */
.skills {
    padding: 70px 0;
    background-image: linear-gradient(to right, #1E1A48, #80A2D5);
    color: #fff;
}

.skills .skills-wrapper {
    display: flex;
    justify-content: space-between;
}

.skills .skills-wrapper .skills-left-side {
    width: 50%;
}

.skills .skills-wrapper .skills-left-side .skills-desc {
    margin-bottom: 30px;
}

.skills .skills-wrapper .skills-left-side .skills-desc p {
    color: #fff;
}

.skills .skills-wrapper .skills-left-side .list-box-wrapper {
    display: flex;
    justify-content: space-between;
}

.skills .skills-wrapper .skills-left-side .list-box-wrapper .list-box {
    width: 164px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .3);
    border-radius: 5px;
    padding: 10px 15px;
    transition: .2s ease-in-out;
}

.skills .skills-wrapper .skills-left-side .list-box-wrapper .list-box:hover {
    transform: translateY(-10px);
}

.skills .skills-wrapper .skills-left-side .list-box-wrapper .list-box p,span {
    color: #fff;
}

.skills .skills-wrapper .skills-left-side .list-box-wrapper .list-box p {
    font-size: 1.5rem;
    font-weight: bold;
}

.skills .skills-wrapper .skills-right-side {
    width: 35%;
}

.skills .skills-wrapper .skills-right-side .list-skills-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.skills .skills-wrapper .skills-right-side .list-skills-wrapper .list-skills-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skills .skills-wrapper .skills-right-side .list-skills-wrapper .list-skills-box .list-skills {
    display: flex;
    align-items: center;
}

.skills .skills-wrapper .skills-right-side .list-skills img {
    margin-right: 20px;
    width: 23px;
}

.skills .skills-wrapper .skills-right-side .list-skills p {
    color: #fff;
    font-size: 1.2rem;
}

/* Portfolio */
.portfolio {
    margin: 80px 0;
}
.portfolio .title {
    text-align: center;
}

.portfolio .title span {
    color: #1E1A48;
    width: 100px;
}

.portfolio .portfolio-content-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio .portfolio-content-wrapper .portfolio-content {
    width: 35%;
    background-color: #1E1A48;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, .3);
}

.portfolio .portfolio-content-wrapper .portfolio-content a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

.portfolio .portfolio-content-wrapper .portfolio-content p {
    padding-bottom: 10px;
    color: #fff;
    font-weight: 100;
}

.portfolio .portfolio-content-wrapper .portfolio-content:hover a {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #1E1A48;
    padding: 50px 0;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
}

footer .footer-content .footer-left-side {
    width: 50%;
}

footer .footer-content .footer-left-side .footer-desc {
    margin-bottom: 20px;
}

footer .footer-content .footer-left-side .footer-desc p {
    color: #fff;
}

footer .footer-content .footer-left-side .social-media a i {
    background-color: rgba(128, 162, 213, .2);
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 8px;
    margin-right: 5px;
    line-height: 1.6;
    color: #80A2D5;
    transition: .2s ease-in-out;
}

footer .footer-content .footer-left-side .social-media a i:hover {
    color: #fff;
}

footer .footer-content .footer-right-side .footer-button a {
    padding: 10px 40px;
    border-radius: 30px;
    text-decoration: none;
    margin-left: 20px;
    transition: .2s ease-in-out;
}

footer .footer-content .footer-right-side .footer-button a.cv-button {
    border: 1px solid #fff;
    color: #fff;
}

footer .footer-content .footer-right-side .footer-button a.contact-button {
    background-color: #fff;
    color: #1E1A48;
}

footer .footer-content .footer-right-side .footer-button a:hover {
    color: #80A2D5;
}

footer .footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

footer .footer-bottom ul li {
    display: inline-block;
    margin: 0 20px;
}

footer .footer-bottom a {
    color: #fff;
    text-decoration: none;
    transition: .2s ease-in-out;
}

footer .footer-bottom a:hover {
    text-decoration: underline;
    color: #80A2D5;
}

/* Responsive */

@media screen and (max-width: 963px) {

    .banner .container .img-self .box-image-self img{
        height: 300px;
    }

    .skills .skills-wrapper {
        display: flex;
        flex-direction: column;
    }

    .skills .skills-wrapper .skills-left-side {
        width: 100%;
    }

    .skills .skills-wrapper .skills-right-side {
        width: 100%;
    }

    .skills .skills-wrapper .skills-right-side .list-skills-wrapper {
        justify-content: space-around;
        margin-top: 30px;
    }

    .skills .skills-wrapper .skills-right-side .list-skills-wrapper .list-skills {
        margin-top: 20px;
    }

    footer .title {
        text-align: center;
        margin: auto;
    }

    footer .footer-content {
        flex-direction: column;
        align-items: center;
    }
    
    footer .footer-content .footer-desc {
        text-align: center;
    }

    footer .footer-content .footer-left-side {
        width: 100%;
    }

    footer .footer-content .footer-left-side .social-media {
        display: flex;
        justify-content: center;
    }

    footer .footer-content .footer-right-side {
        margin-top: 30px;
    }

    footer .footer-bottom ul li {
        margin: 0 5px;
    }
}

@media screen and (max-width: 768px) {
    .banner {
        margin-bottom: 50px;
    }

    .banner .banner-wrapper .greeting .mask-pict{
        display: block;
        width: 30%;
    }
    
    .banner .banner-wrapper .greeting .mask-pict img {
        max-width: 100%;
    }
    
    .banner .banner-wrapper .greeting {
        display: flex;
        margin: 0;
        justify-content: space-between;
        width: 100%;
    }

    .banner .banner-wrapper .greeting .greet-wrapper {
        width: 60%;
    }

    .banner .container .image-self {
        display: none;
    }

    .portfolio .portfolio-content-wrapper .portfolio-content {
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .skills {
        padding: 40px 0;
    }
    .skills .title {
        text-align: center;
        margin: 10px auto;
    }

    .skills .skills-wrapper .skills-left-side .skills-desc {
        text-align: center;
    }

    .skills .skills-wrapper .skills-left-side .list-box-wrapper {
        flex-direction: column;
        justify-content: center;
    }

    .skills .skills-wrapper .skills-left-side .list-box-wrapper .list-box {
        margin: 5px 0;
        width: 100%;
        text-align: center;
    }

    footer .footer-content .footer-right-side .footer-button a {
        display: block;
        text-align: center;
        margin: 10px 0;
        padding: 10px 70px;
    }
}